<main class="w-screen min-h-screen max-h-fit flex justify-center align-middle">
  <brn-select class="absolute left-3.5 top-4" placeholder="Select an option">
    <hlm-select-trigger>
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content (cdkListboxValue)="theme" [ariaSelected]="theme" class="w-56">
        <hlm-option (click)="handleThemeChange()" value="Dark">
          Dark
        </hlm-option>
        <hlm-option (click)="handleThemeChange()" value="Light">
          Light
        </hlm-option>
    </hlm-select-content>
  </brn-select>
  <app-home />
</main>

<router-outlet />
