<main class="w-screen min-h-screen max-h-fit flex justify-center align-middle">
  <button 
    hlmBtn 
    variant="outline" 
    [brnMenuTriggerFor]="menu" 
    class="absolute left-3.5 top-4"
  >
    Theme
  </button>
  <ng-template #menu>
    <hlm-menu>
      <hlm-menu-label>Select theme</hlm-menu-label>
      <hlm-menu-separator />
      <hlm-menu-group>
        <button hlmMenuItem (click)="handleThemeChange()" value="Dark" >
          Dark
          <ng-icon hlmMenuIcon size='lg' name="lucideMoon" />
        </button>
        <button hlmMenuItem (click)="handleThemeChange()" value="Light" >
          Light
          <hlm-menu-item-sub-indicator />
        </button>
      </hlm-menu-group>
    </hlm-menu>
  </ng-template>
  <app-home />
</main>

<router-outlet />
